body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Rye', cursive;
    background-image: url('images/desert.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gameContainer {
    position: relative;
    width: 100%; 
    max-width: 720px;
    height: auto; 
    margin: 0 auto;
}

h1 {
    position: relative;
    margin: 0;
    padding: 10px 0;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: transparent;
    border: 1px solid orange;
    display: block;
    margin: 0 auto;
    width: 100%; 
    height: auto;
    max-width: 720px;
}

.rotate-device {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* background-image: url('images/background.jpg'); */
    background-size: cover;
    background-position: center;
    display: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rotate-device-content {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.rotate-arrow {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border: 10px solid #ffffff;
    border-top: 10px solid orange;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

#landscape-warning {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .warning-content {
    text-align: center;
  }
  
  #landscape-warning p {
    font-size: 1.5em; 
    margin: 0;
    word-wrap: break-word;
    max-width: 90%;
  }
  
  #landscape-warning img {
    margin-top: 20px;
    max-width: 100%;
    height: auto; 
  }

  /* #buttons-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1000;
  } */
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #overlay-content {
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  #overlay-button, #script-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  #buttons-container {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    pointer-events: none;
}

.left-buttons, .right-buttons {
    pointer-events: auto; 
}

#buttons-container button {
    background-color: orange;
    border: 1px solid #000000;
    border-radius: 50%;
    color: black;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#buttons-container #leftButton,
#buttons-container #rightButton,
#buttons-container #jumpButton,
#buttons-container #throwButton {
    position: relative;
    bottom: 0;
}

.left-buttons {
    position: absolute;
    left: 20px;
    bottom: -10px;
    display: flex;
}

.right-buttons {
    position: absolute;
    right: 20px;
    bottom:-10px;
    display: flex;
}

#buttons-container #rightButton {
    margin-left: 10px;
}

#buttons-container #throwButton {
    margin-left: 10px;
}

#leftButton::before {
    content: '\2190'; 
    font-size: 24px;
    bottom: 4px;
    position: relative;
}

#rightButton::before {
    content: '\2192'; 
    font-size: 24px;
    bottom: 4px;
    position: relative;
}

#jumpButton::before {
    content: '\2191'; 
    font-size: 24px;
}

#throwButton::before {
    font-size: 24px;
}

.fullscreen-icon {
    position: absolute;
    right: 20px;
    top: -250px;
    cursor: pointer;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 5px;
}

#soundButton {
    position: absolute;
    right: 20px;
    top: -190px;
    cursor: pointer;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 5px;
}

#helpButton {
    position: absolute;
    right: 20px;
    top: -130px;
    cursor: pointer;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 5px;
}

.left,
.right {
    max-width: 48%;
}

ul.instructions {
    list-style: none;
}

ul.instructions li {
    display: flex;
    align-items: center;
}

ul.instructions li span {
    padding: 10px;
}

#restartButton-mobile {
    position: absolute;
    right: 20px;
    top: -310px;
    cursor: pointer;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 5px;
}

.fullscreen-icon::before {
    content: '\26F6'; 
    font-size: 20px;
    color: #000000;
}

.fullscreen-icon:hover {
    background-color: orange;
}

.control-buttons {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

.control-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #000000;
}

/* .space-bar {
    width: 60px; 
    height: auto; 
    background-color: transparent; 
    border-radius: 0; 
} */

.fullscreen-icon::before {
    content: '\26F6';
}

.sound-icon::before {
    content: '\1F50A';
    font-size: 14px;
}

.sound-icon.muted::before {
    content: '\1F507';
}

.restart-icon::before {
    content: '\21BB';
}

.start-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

#restartButton,
#startButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: orange;
    padding: 10px 20px;
    font-size: 20px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    font-family: 'Rye', cursive;
}

#restartButton:hover,
#startButton:hover {
    background-color: darkorange;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 700px;
    height: 60px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    flex: 1;
}

.control-text {
    font-size: 10px;
    text-align: center;
    margin-top: 6px;
}

.fullscreen-icon::before {
    content: '[ ]';
    font-size: 18px;
    font-weight: lighter;
}

.controls .item .chevron span#fullscreenButton {
    cursor: pointer;
}

.controls .item .chevron span#fullscreenButton:hover {
    color: #000000;
}

#game-controls ul {
    top: -30px;
    position: relative;
    display: inline-flex;
}

#game-controls ul li {
    color: #000000;
    top: 30px;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 20px;
    background-color: orange;
    padding: 6px 10px;
    font-size: 14px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 740px) {
    #game-controls ul li {
        margin: 0 5px;
        padding: 5px 8px;
        font-size: 12px;
    }
}

.legal {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
}

.legal-link {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    position: relative;
    padding-right: 10px;
}

.legal-link:after {
    content: '🌶️'; 
    padding-left: 10px; 
}

.legal-link:last-child:after {
    content: ''; 
}

a.legal-link:hover {
    text-decoration: underline;
}

.help-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.help-overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.help-close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    
    h1 {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    .fullscreen-icon {
        top: -200px;
    }
    #soundButton {
        top: -150px;
    }
    #restartButton-mobile {
        top: -250px;
    }
    .control-buttons {
        bottom: -60px;
    }
    #buttons-container {
        bottom: 10px; 
    }
}


